.center {
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.justify {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

main .contenedor-imagen h3 {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-transform: uppercase;
}

main .contenedor-imagen img {
  padding: 2px;
  width: 300px;
  height: 300px;
  border: 3px solid white;
}

main h2 {
  text-align: center;
  font-size: 1rem;
  margin-top: 10px;
}

.cards, main .card {
  width: 150px;
  height: 260px;
  background-color: rgba(255, 255, 255, 0.904);
}

main .container-comprar {
  display: grid;
  grid-template-columns: 12fr;
  grid-template-rows: 12fr 12fr;
}

main .contacto-contacto svg {
  width: 40px;
  height: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /*text-transform: capitalize;*/
}

/*comienza el header*/
.navbar {
  height: 60px;
}
.navbar svg {
  width: 30px;
  height: 30px;
}
.navbar .navbar-brand {
  font-size: 30px;
}

/*termina el header*/
/*comienza el Main*/
main {
  background-image: url("../img/principal/back3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  border-bottom: 1px solid black;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /*.h1{
      padding-top: 60px;
      h1{
          @extend %h1-main;
          background-color: $back1;
      }
  }*/
  /*main pero la section donde pueden buscar el porducto por un precio (mates termos box completos)*/
  /*todo en queries*/
  /*termina donde puede buscar por un precio el producto*/
  /* termina la variedad de productos
  }*/
  /*main de como comprar*/
  /*termina el main de como comprar*/
  /*main de contacto*/
  /*termina el main de contacto*/
}
main::before {
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}
main .contenedor-imagen {
  transition: opacity 0.3s;
}
main .contenedor-imagen:hover {
  opacity: 0.5;
}
main h2 {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.321);
}
main .card { /*seguimos en main pero arranca la variedad de productos*/ }
main .card .card-img-top {
  width: 148px;
  height: 145px;
}
main .container-comprar .politicas div p {
  margin-left: 10px;
  color: rgb(255, 255, 255);
}
main .container-comprar h3 {
  font-size: 20px;
  text-decoration: underline;
  color: black;
}
main .container-comprar .como-comprar {
  list-style-type: decimal;
  background-color: rgba(255, 255, 255, 0.238);
}
main .container-comprar .como-comprar li {
  color: rgb(235, 228, 228);
}
main .container-comprar .devoluciones {
  list-style-type: decimal;
  background-color: rgba(255, 255, 255, 0.238);
}
main .container-comprar .devoluciones li {
  color: rgb(235, 228, 228);
}
main .container-comprar .contactarnos {
  background-color: rgba(255, 255, 255, 0.238);
}
main .container-comprar .contactarnos li {
  color: rgb(235, 228, 228);
}
main .contacto-contacto {
  display: grid;
}
main .contacto-contacto .form-label {
  color: white;
}
main .contacto-contacto .form-text {
  color: rgb(0, 0, 0);
}
main .contacto-contacto .form-check-label {
  color: white;
}
main .contacto-contacto form {
  padding: 50px 10px;
}
main .contacto-contacto p {
  display: flex;
}
main .contacto-contacto li {
  color: white;
}
main .contacto-contacto ul {
  list-style-type: none;
}

/*termina el main*/
/*footer*/
footer svg {
  width: 40px;
  height: 40px;
}

/*termina footer*/
/*queries*/
/* queries del index*/
@media (min-width: 320px) and (max-width: 991px) {
  .h1 {
    padding-top: 60px;
  }
  .h1 .text-focus-in {
    -webkit-animation: text-focus-in 1.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.321);
  }
}
@media (min-width: 992px) {
  .h1 {
    padding-top: 60px;
  }
  .h1 .text-focus-in {
    -webkit-animation: text-focus-in 1.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    animation: text-focus-in 1.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
    font-size: 1.3rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.321);
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .contenedor {
    display: grid;
    grid-template-rows: 350px 350px 350px;
    grid-template-columns: 3fr;
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .contenedor {
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 3fr 3fr 3fr;
    margin-top: 10px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .container-producto {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 6fr 6fr;
    padding: 0;
  }
  .container-producto .card-text span {
    display: flex;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: black;
    text-decoration: underline rgba(0, 0, 0, 0.304);
  }
  .container-producto .card-body button {
    margin-left: 25px;
  }
  .container-producto .card-body p {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
}
@media (min-width: 992px) {
  .container-producto {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 200px 200px 200px 200px;
    margin: 0;
  }
  .container-producto .card-text span {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: underline rgba(0, 0, 0, 0.304);
  }
  .container-producto .card-body button {
    margin-left: 25px;
  }
  .container-producto .card-body p {
    display: flex;
    justify-content: center;
    font-size: 0.7rem;
    margin-bottom: 5px;
  }
}
@media (min-width: 992px) {
  .container-pages {
    display: grid;
    grid-template-rows: 50px;
    grid-template-columns: 3fr;
    padding-top: 50px;
  }
  .container-pages .filtrar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    margin-right: 50px;
  }
  .container-pages .filtrar .form {
    width: 20%;
    border: 1px solid #ccc;
    color: rgb(255, 255, 255);
    background-color: black;
  }
  .container-pages .filtrar .form option {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 15px;
  }
  .container-pages .filtrar label {
    margin-right: 10px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .container-pages {
    display: grid;
    grid-template-rows: 50px 50px;
    grid-template-columns: 3fr;
  }
  .container-pages .form {
    width: 100%;
    border: 1px solid #ccc;
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 2px;
    font-size: 15px;
  }
  .container-pages .form option {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-size: 12px;
    text-align: center;
  }
  .container-pages label {
    margin-left: 100px;
    font-size: 15px;
  }
}
/*fin queries index*/
/* queries pag contacto*/
@media (min-width: 992px) {
  .container-contacto {
    display: grid;
    grid-template-rows: 12fr;
    grid-template-columns: 3fr 3fr;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .container-contacto {
    display: grid;
    grid-template-rows: 12fr;
    grid-template-columns: 3fr;
    margin-top: 100px;
  }
}
/*fin queries pag contacto*/
/*fin queries*/
/*animacion h1*/
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/*# sourceMappingURL=styles.css.map */
