.center {
  text-align: center;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.justify {
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

/*%h1-main{
    font-size: 1.3rem;
    text-align: center;
    color: rgb(255, 255, 255);
}*/
main .contenedor-imagen h3 {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-transform: uppercase;
}

main .contenedor-imagen img {
  padding: 2px;
  width: 300px;
  height: 300px;
  border: 3px solid white;
}

main h2 {
  text-align: center;
  font-size: 0.9rem;
  margin-top: 10px;
}

.cards, main .card {
  width: 150px;
  height: 250px;
}

main .container-comprar {
  display: grid;
  grid-template-columns: 12fr;
  grid-template-rows: 12fr 12fr;
}

main .contacto-contacto svg {
  width: 40px;
  height: 40px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  /*text-transform: capitalize;*/
}

/*comienza el header*/
.navbar {
  height: 60px;
}
.navbar svg {
  width: 30px;
  height: 30px;
}
.navbar .navbar-brand {
  font-size: 30px;
}

/*termina el header*/
/*comienza el Main*/
main {
  background-image: url("../img/principal/back3.webp");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 1px solid black;
  padding-bottom: 0px;
  margin-bottom: 0px;
  /*.h1{
      padding-top: 60px;
      h1{
          @extend %h1-main;
          background-color: $back1;
      }
  }*/
  /*main pero la section donde pueden buscar el porducto por un precio (mates termos box completos)*/
  /*main de como comprar*/
  /*termina el main de como comprar*/
  /*main de contacto*/
  /*termina el main de contacto*/
}
main .contenedor-imagen {
  transition: opacity 0.3s;
}
main .contenedor-imagen:hover {
  opacity: 0.5;
}
main h2 {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.321);
}
main .card { /*seguimos en main pero arranca la variedad de productos*/ }
main .card .card-img-top {
  width: 148px;
  height: 145px;
}
main .container-pages {
  padding-top: 100px;
  margin-left: 15px;
  /*termina donde puede buscar por un precio el producto*/
  /* termina la variedad de productos*/
}
main .container-pages div {
  margin-left: 70px;
}
main .container-pages input {
  width: 60px;
}
main .container-pages p {
  margin-left: 30px;
}
main .container-comprar .politicas div p {
  margin-left: 10px;
  color: rgb(255, 255, 255);
}
main .container-comprar h3 {
  font-size: 20px;
  text-decoration: underline;
}
main .container-comprar .como-comprar {
  list-style-type: decimal;
  background-color: rgba(255, 255, 255, 0.238);
}
main .container-comprar .como-comprar li {
  color: rgb(0, 0, 0);
}
main .container-comprar .devoluciones {
  list-style-type: decimal;
  background-color: rgba(255, 255, 255, 0.238);
}
main .container-comprar .devoluciones li {
  color: rgb(0, 0, 0);
}
main .container-comprar .contactarnos {
  background-color: rgba(255, 255, 255, 0.238);
}
main .container-comprar .contactarnos li {
  color: rgb(0, 0, 0);
}
main .contacto-contacto {
  display: grid;
}
main .contacto-contacto .form-label {
  color: white;
}
main .contacto-contacto .form-text {
  color: rgb(0, 0, 0);
}
main .contacto-contacto .form-check-label {
  color: white;
}
main .contacto-contacto form {
  padding: 50px 10px;
}
main .contacto-contacto p {
  display: flex;
}
main .contacto-contacto li {
  color: white;
}
main .contacto-contacto ul {
  list-style-type: none;
}

/*termina el main*/
/*footer*/
footer svg {
  width: 40px;
  height: 40px;
}

/*termina footer*/
/*queries*/
/* queries del index*/
@media (min-width: 320px) and (max-width: 991px) {
  .h1 {
    padding-top: 60px;
  }
  .h1 h1 {
    font-size: 1rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.321);
  }
}
@media (min-width: 992px) {
  .h1 {
    padding-top: 60px;
  }
  .h1 h1 {
    font-size: 1.3rem;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.321);
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .contenedor {
    display: grid;
    grid-template-rows: 350px 350px 350px;
    grid-template-columns: 3fr;
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .contenedor {
    display: grid;
    grid-template-rows: 400px;
    grid-template-columns: 3fr 3fr 3fr;
    margin-top: 10px;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .container-producto {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 6fr 6fr;
    padding: 0;
  }
  .container-producto .card-text {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: black;
  }
  .container-producto .card-body {
    display: block;
  }
  .container-producto .card-body button {
    margin-left: 20px;
  }
}
@media (min-width: 992px) {
  .container-producto {
    display: grid;
    grid-template-rows: 300px;
    grid-template-columns: 200px 200px 200px 200px;
    margin: 0;
  }
  .container-producto .card-text {
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
  }
  .container-producto .card-body {
    display: block;
  }
  .container-producto .card-body button {
    margin-left: 20px;
  }
}
/*fin queries index*/
/* queries pag contacto*/
@media (min-width: 992px) {
  .container-contacto {
    display: grid;
    grid-template-rows: 12fr;
    grid-template-columns: 3fr 3fr;
  }
}
@media (min-width: 320px) and (max-width: 991px) {
  .container-contacto {
    display: grid;
    grid-template-rows: 12fr;
    grid-template-columns: 3fr;
    margin-top: 100px;
  }
}
/*fin queries pag contacto*/
/*fin queries*/

/*# sourceMappingURL=styles.css.map */
