/*queries*/
/* queries del index*/
@media (min-width:320px) and (max-width:991px){
    .contenedor{
        @include grid(grid,350px 350px 350px,3fr);
        margin-top: 50px;
    }
}
@media (min-width:992px){
    .contenedor{
        @include grid(grid,400px,3fr 3fr 3fr);
        margin-top: 10px;
    }    
}
@media (min-width:320px) and (max-width:991px){
    .container-producto{
        @include grid(grid,300px 300px,6fr 6fr);
        padding: 0;
        .card-text{
            display: flex;
            justify-content: center;
        }
        .card-body{
            display: block;
            button{
                margin-left: 20px;
            }
        }
    }
    
}
@media(min-width:992px){
    .container-producto{
        @include grid(grid,300px,200px 200px 200px 200px);
        margin: 0;
        .card-text{
            display: flex;
            justify-content: center;
        }
        .card-body{
            display: block;
            button{
                margin-left: 20px;
            }
        }
    }
}
/*fin queries index*/

/* queries pag contacto*/
@media(min-width:992px){
    .container-contacto{
        @include grid(grid,12fr, 3fr 3fr);
    } 
}
@media(min-width:320px) and (max-width:991px){
    .container-contacto{
        @include grid(grid,12fr,3fr);
        margin-top: 100px;
    }
}
/*fin queries pag contacto*/

/*fin queries*/