/*queries*/
/* queries del index*/
@media (min-width:320px) and (max-width:991px){
    .h1{
        padding-top: 60px;
        .text-focus-in{
            -webkit-animation: text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            @include font(1rem,center,white);
            background-color: $back1;

        }
    }
}
@media (min-width:992px){
    .h1{
        padding-top: 60px;
        .text-focus-in{
            -webkit-animation: text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
            @include font(1.3rem,center,white);
            background-color: $back1;
        }
    }
}
@media (min-width:320px) and (max-width:991px){
    .contenedor{
        @include grid(grid,350px 350px 350px,3fr);
        margin-top: 50px;
    }
}
@media (min-width:992px){
    .contenedor{
        @include grid(grid,400px,3fr 3fr 3fr);
        margin-top: 10px;
    }    
}
@media (min-width:320px) and (max-width:991px){
    .container-producto{
        @include grid(grid,300px 300px,6fr 6fr);
        padding: 0;
        .card-text span{
            display: flex;
            justify-content: center;
            font-size: 12px;
            font-weight: bold;
            color: black;
            text-decoration: underline rgba(0, 0, 0, 0.304);
        }
        .card-body{
            button{
                margin-left: 25px;
            }
            p{
                display: flex;
                justify-content: center;
                font-size: 0.8rem;
                margin-bottom: 5px;
            }
        }
    }
    
}
@media(min-width:992px){
    .container-producto{
        @include grid(grid,300px,200px 200px 200px 200px);
        margin: 0;
        .card-text span{
            display: flex;
            justify-content: center;
            font-size: 0.8rem;
            font-weight: bold;
            text-decoration: underline rgba(0, 0, 0, 0.304);
        }
        .card-body{
            button{
                margin-left: 25px;
            }
            p{
                display: flex;
                justify-content: center;
                font-size: 0.7rem;
                margin-bottom: 5px;
            }
        }
    }
}
@media(min-width:992px){
    .container-pages{
        @include grid(grid,50px,3fr);
        padding-top: 50px;
        .filtrar{
            @include flex(flex,center,center);
            padding-bottom:100px;
            margin-right: 50px;
            .form{
                width: 20%;
                border: 1px solid #ccc;
                color: rgb(255, 255, 255);
                background-color: black;
                option{
                    color: rgb(255, 255, 255);
                    background-color: rgb(0, 0, 0);
                    font-size: 15px;
                    
                }
            }
            label{
                margin-right: 10px
            }
        }
    }
}
@media(min-width:320px) and (max-width:991px){
    .container-pages{
        @include grid(grid,50px 50px,3fr);
        .form{
            width: 100%;
            border: 1px solid #ccc;
            color: rgb(255, 255, 255);
            background-color: black;
            padding: 2px;
            font-size: 15px;
            option{
                color: rgb(255, 255, 255);
                background-color: rgb(0, 0, 0);
                font-size: 12px;
                text-align: center;
            }
        }
        label{
            margin-left: 100px;
            font-size: 15px;
        }
    }

}
/*fin queries index*/

/* queries pag contacto*/
@media(min-width:992px){
    .container-contacto{
        @include grid(grid,12fr, 3fr 3fr);
    } 
}
@media(min-width:320px) and (max-width:991px){
    .container-contacto{
        @include grid(grid,12fr,3fr);
        margin-top: 100px;
    }
}
/*fin queries pag contacto*/

/*fin queries*/
/*animacion h1*/
@-webkit-keyframes text-focus-in {
    0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
}
100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
}
}
@keyframes text-focus-in {
0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
    }
100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
    }
}

