/*queries*/
@media (min-width:320px) and (max-width:991px){
    .main__contenedor{
        display: grid;
        grid-template-rows: 400px 400px 400px;
        grid-template-columns: 12fr;
    }
}
@media (min-width:320px) and (max-width:991px){
    .container-producto{
        display: grid;
        grid-template-rows:300px 300px ;
        grid-template-columns: 1fr 1fr ;
        margin: 0;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
    }
    .card{
        margin: 0;
        width: 120px;
        height: 220px;
    }
}
@media(min-width:992px){
    .container-producto{
        display: grid;
        grid-template-rows: 300px;
        grid-template-columns: 200px 200px 200px 200px ;
        margin: 0;
        justify-content: center;
        align-content: center;
        justify-items: center;
        align-items: center;
    }
}
/*fin queries*/