/*comienza el Main*/
main{
    background-image: url("../img/back3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 1px solid black;
    padding-bottom: 0px;
    margin-bottom: 0px;
    .h1{
        padding-top: 60px;
        h1{
            font-size: 1rem;
            text-align: center;
            color: rgb(255, 255, 255);
            background-color: $back1;
            
        }
    }
    .contenedor-imagen{
        transition: opacity 0.3s;
        &:hover{
            opacity: 0.5;
        }  
        h3{
            color: rgb(255, 255, 255);
            font-size: 1rem;
            text-transform: uppercase;
        }
        img{
            padding: 2px;
            width: 300px;
            height: 300px;
            border: 3px solid white;
        }
    }    
    
    h2{
        color: rgb(255, 255, 255);
        background-color:$back1;
        text-align: center;
        font-size: 0.9rem;
        margin-top: 10px;
        ;
    }
    .card{/*seguimos en main pero arranca la variedad de productos*/
        margin: 10px 20px;
        width: 130px;
        height: 230px;
    }
    /*main pero la section donde pueden buscar el porducto por un precio (mates termos box completos)*/    
    .container-pages{
        padding-top: 100px;
        margin-left: 15px;
        input{
            width:60px ;
        }
        p{
            margin-left: 30px;
        }
        /*termina donde puede buscar por un precio el producto*/
        /* termina la variedad de productos*/
    }

    /*main de como comprar*/
    .container-comprar{
        display: grid;
        grid-template-columns: 12fr;
        grid-template-rows: 12fr 12fr;
        .politicas div p{
            margin-left: 10px;
            color: rgb(255, 255, 255);
            
        }
        h3{
            font-size: 20px;
            text-decoration: underline;
        }
        .como-comprar{
            list-style-type: decimal;
            background-color: $back2;
            li{
                color: rgb(0, 0, 0);
                
            }
        }
        .devoluciones{
            list-style-type: decimal;
            background-color:$back2;
            li{
                color: rgb(0, 0, 0);
            }
        }
        .contactarnos{
            background-color: $back2;
            li{
                color: rgb(0, 0, 0);
            }
        }
    }
    /*termina el main de como comprar*/

    /*main de contacto*/
    .contacto-contacto{
        display: grid;
        .form-label{
            color: white;
        }
        .form-text{
            color: rgb(0, 0, 0);
        }
        .form-check-label{
            color: white;
        }
        form{
            padding: 50px 10px;
        }
        svg {
            width: 40px;
            height: 40px;
            }
        p{
            display: flex;
        }
        li{
            color: white;
        }
        ul{
            list-style-type: none;
        }
    }
    /*termina el main de contacto*/
}
/*termina el main*/