.center{
    text-align: center;
    justify-content: center;
    align-content: center ;
    align-items: center;
}
.justify{
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
}
/*%h1-main{
    font-size: 1.3rem;
    text-align: center;
    color: rgb(255, 255, 255);
}*/
%h3-contenedor{
    color: rgb(255, 255, 255);
    font-size: 1rem;  
    text-transform: uppercase;
}
%img-contenedor{
    padding: 2px;
    width: 300px;
    height: 300px;
    border: 3px solid white;
}
%h2-text{
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
}
.cards{
    width: 150px;
    height: 260px;
    background-color: rgba(255, 255, 255, 0.904);
}
%grid-comprar{
    display: grid;
    grid-template-columns: 12fr;
    grid-template-rows: 12fr 12fr;
}
%svg-contacto{
    width: 40px;
    height: 40px;
}