@mixin grid($display,$rows,$columns){
    display:$display ;
    grid-template-rows:$rows ;
    grid-template-columns:$columns ;
}
@mixin font($font,$center,$color){
    font-size:$font;
    text-align:$center ;
    color:$color;
}